process/CMakeLists.txt.user
process/CMakeCache.txt
process/CMakeFiles
process/CMakeScripts
process/Testing
process/Makefile
process/cmake_install.cmake
process/install_manifest.txt
process/compile_commands.json
process/CTestTestfile.cmake
process/_deps
process/CMakeUserPresets.json
process/build
.vscode
process/3rd_party/**
!process/3rd_party/占位文件，存放第三方文件
source/cache/*
!source/cache/占位文件，该文件夹存放缓存文件
**/__pycache__
**/*.zip
**/*.tar.gz